<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deng lu</title>
</head>
<body>
<table>
    <form action="{{url_for('blueprint.loginsession')}}" method="post">
        <tr>
            <td>yong hu ming </td>
            <td><input type="text" name="account"/></td>
        </tr>
        <tr>
            <td>mima</td>
            <td><input type="text" name="pwd"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="deng lu"/></td>
            <td> <input type="reset"  value="chongzhi"/></td>
        </tr>
    </form>
    <a href="//">tuichu</a>
</table>
</body>
</html>